.page{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    margin-bottom: 6.438rem;
}

.hero img{
    /* max-width: 1536px;
    width: 100%; */
    z-index: -2;
}

.heroText{
    position: absolute;
    text-align: center;
    color: white;
    top: 60%;
}

.hero h1, .hero h2{
    padding-bottom: 18px;
    font-family: var(--quicksand);
    text-align: center;
}

.hero h1{
    top: 65%;
    font-size: 2rem;
    letter-spacing: 1rem;
    font-weight: 600;
}

.hero h2{
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    text-decoration: underline;
}

.collection{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
}

.collection h1{
    font-family: var(--quicksand);
    color: var(--main-color);
    font-size: 2.75rem;
    font-weight: 600;
    letter-spacing: 0.6rem;
    margin-left: 18%;
}

.collectionGrid{
    display: grid;
    align-self: center;
    grid-template-columns: 25.813rem 25.813rem 21.375rem;
    grid-template-rows: 50.125rem;
    gap: 0.625rem;
}

.collection1{
    display: flex;
    flex-direction: column;
    font-family: var(--quicksand);
    font-size: 1.5rem;
    font-weight: 600;
    gap: 0.625rem;
}
.collection2{
    display: flex;
    flex-direction: column;
    font-family: var(--quicksand);
    font-size: 1.5rem;
    font-weight: 600;
    gap: 0.625rem;
}

.menCollection{
    display: flex;
    width: 100%;
    height: 27rem;
    background-image: url('../../../public/assets/menCollection.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.childrenCollection{
    display: flex;
    width: 100%;
    height: 15.5rem;
    background-image: url('../../../public/assets/childrenCollection.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.googlesCollection{
    display: flex;
    width: 100%;
    height: 21.25rem;
    background-image: url('../../../public/assets/googlesCollection.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.womenCollection{
    display: flex;
    width: 100%;
    height: 21.25rem;
    background-image: url('../../../public/assets/womenCollection.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.sponsor{
    display: flex;
    width: 100%;
    height: 43.125rem;
    background-size: cover;
    background-position: center;
    background-image: url('../../../public/assets/calebDressel.png');
    background-repeat: no-repeat;
}

