.navbar{
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 1.188rem 0;
    font-weight: 400;
    background-color: white;
    color: black
  }
  
  .navbar *{
    font-weight: inherit;
  }

  .navbar h2{
    font-size: 1rem;
  }
  
  .content1{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  .logo{
    cursor: pointer;
  }
  
  .searchBar {
    display: flex;
    align-items: center;
    background-color: #F6F6F6;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    width: 29.375rem; /* Adjust width as needed */
    grid-column: 3;
  }
  
  .searchInput {
    flex: 1;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0.625rem;
    padding-right: 0;
    background-color: #F6F6F6;
    color: #5E6268;
  }

  .iconWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2.313rem;
  }

  .Icon:hover{
    cursor: pointer;
    background-color: #ABABAB;
    border-radius: 20;
    padding: 0.188rem;
  }
  
  .links{
    display: flex;
    flex-direction: row;
    justify-self: center;
    gap: 1.875rem;
    padding: 0.625rem;
  }

  .links h2{
    cursor: pointer;
  }
  
  .signupOffer{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #5E6268;
    color: white;
    padding: 0.625rem 0;
  }
  .signupOffer a{
    text-decoration: underline;
  }